%h2= @member.name

#member
  %img{ :src => "/JenniferC.jpg", :height => 128, :width => "128"}

#content
  %h2 Name:
  %p= member.name
  %h2 Title:
  %p= member.title
  %h2 Location:
  %p= member.location
  %h2 Vertical:
  %p= member.vertical
  %h2 Bio:
  %p= member.bio

  %form{ :action => "", :method => "post"}
    %fieldset
      %ol
        %li
          %label{:for => "name"} Name:
          %input{:type => "text", :name => "name", :class => "text", :value => member.name}
        %li
          %label{:for => "title"} Title:
          %input{:type => "text", :name => "title", :class => "text", :value => member.title}
        %li
          %label{:for => "location"} Location:
          %input{:type => "text", :name => "location", :class => "text", :value => member.location}
        %li
          %label{:for => "vertical"} Vertical:
          %input{:type => "text", :name => "vertical", :class => "text", :value => member.vertical}
        -#%li
          %label{:for => "anniversary"} Anniversary:
          %input{:type => "text", :name => "anniversary", :class => "text", :value => member.anniversary}
        %li
          %label{:for => "bio"} Bio:
          %textarea{:name => "bio"}
            =member.bio
      %input{:type => "submit", :value => "Update", :class => "button"}