%h2= @member.name

#member
  %img{ :src => "/JenniferC.jpg", :height => 128, :width => "128"}

#content
  %h2 Name:
  %p= member.name
  %h2 Title:
  %p= member.title
  %h2 Location:
  %p= member.location
  %h2 Vertical:
  %p= member.vertical
  %h2 Bio:
  %p= member.bio
